<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473196857519-aruep25hm5ngok6dpb6i6j0s98hekio8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473196857519-aruep25hm5ngok6dpb6i6j0s98hekio8</string>
	<key>API_KEY</key>
	<string>AIzaSyCcyreVpWlOBv9lNjF_2ppui9i5y8wI7-c</string>
	<key>GCM_SENDER_ID</key>
	<string>473196857519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.consolelabs.epi-wallet-v1</string>
	<key>PROJECT_ID</key>
	<string>epi-wallet-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>epi-wallet-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473196857519:ios:7a4f60631f9430fd6b6c5a</string>
</dict>
</plist>